*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/*

# Preference file and supplier data files
*.dat

# Files that ought to be in the future JAR package
!/bin/MessagesBundle*
!/bin/*.png
!/bin/*.txt
!/bin/AutoAppro
!/bin/AutoAppro/*.png
!/bin/AutoAppro/*.txt
!/bin/loggers
!/bin/loggers/bar1_preambule.js
